
azure-core
azure-identity
docx2pdf
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchain-unstructured
langsmith
openai
openpyxl
PyJWT
PyMuPDF
python-docx
pytz
tiktoken
tinycss2
streamlit
pydantic>=2.0
Spire.Doc
plum-dispatch
faiss-cpu
python-dotenv
supabase
fastapi
uvicorn
python-multipart